.aboutuscss h2 {color:#007cec ; font-family: 'Jay', sans-serif; text-transform: uppercase; text-align: center; font-size: 3em;}


.aboutuscss div {padding-bottom: 1em; padding-top: 1em; text-align: center;}

.aboutuscss div img {width: 5em; margin-top: 0.7em;}

.aboutuscss div h2 {color: #FFFF; margin-top: 0.7em;}

.aboutuscss div p {color: #FFFF; font-size: 1.4em;}

.aboutuscss div:last-child h2 {color: white;}

.aboutuscss div:last-child p {color: white;}

.aboutuscss div:first-child h2 {color: white;}

.aboutuscss div:last-child img {width: 5em;}

.aboutuscss div:first-child p {color: white;}


.aboutuscss2 h2 {color:#007cec ; font-family: 'Jay', sans-serif; text-transform: uppercase; text-align: center; font-size: 3em;}

.aboutuscss2 h3 {color:#007cec ; font-family: 'Jay', sans-serif; text-transform: uppercase; text-align: center; font-size: 2em;}

.aboutuscss2 div h3 {color: #FFFF; margin-top: 0.3em;}

.aboutuscss2 div:last-child h3 {color: #FFFF;}

.aboutuscss2 div:first-child h3 {color: #FFFF;}

.aboutuscss2 div {padding-bottom: 1em; padding-top: 1em  ; text-align: center;}

.aboutuscss2 div img {width: 5em; margin-top: 0.7em;}

.aboutuscss2 div h2 {color: #FFFF; margin-top: 0.3em;}

.aboutuscss2 div p {color: #FFFF; font-size: 1.4em;}

.aboutuscss2 div:last-child {padding-top: 6em;}

.aboutuscss2 div:last-child h2 {color: #FFFF;}

.aboutuscss2 div:last-child p {color: #FFFF;}

.aboutuscss2 div:first-child h2 {color: #FFFF;}

.aboutuscss2 div:first-child p {color: #FFFF;}

.aboutuscss2 div:first-child { padding-top: 6em;}

.aboutusfondo {background-image: url(../img/about/fondo.png); padding-top: 3em; padding-bottom: 3em;}

.hvr-bounce-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  .hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  }

  @media (max-width: 600px) {
    div.footer-desc h3 {
      text-align: center;
    }
    div.footer-desc p {
      text-align: center;
    }
  
    div.sponsors img {
      display: inline-block;
    }
    
  }
  
  .sponsorsofi img {
    margin-bottom: 2em;
    width: 25%;
  }
  
  .sponsorsofi img:first-child {
    width: 20%;
    margin: auto;
    margin-right: 2.3em ;
  }
  
  .proveedor img {
    width: 30%;
  }